/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Rubik"), local("Rubik-Regular"), url("../fonts/rubik-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v9-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v9-latin-regular.woff") format("woff"), url("../fonts/rubik-v9-latin-regular.ttf") format("truetype"), url("../fonts/rubik-v9-latin-regular.svg#Rubik") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-regular.woff") format("woff"), url("../fonts/roboto-v20-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDF7F4;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.header__bg {
  background-image: url(../img/main-bg.png);
  background-size: cover;
  width: 85%;
  height: 750px;
  position: absolute;
  margin-top: -20px;
  z-index: -1;
}
.header__bg:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: -o-linear-gradient(152.01deg, #FFEDBA 16.76%, #EE4D47 92%);
  background-image: linear-gradient(297.99deg, #FFEDBA 16.76%, #EE4D47 92%);
  opacity: 0.7;
  border-radius: 0 0 85px 0;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.header__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 550px;
  position: relative;
}
.header__nav-link {
  font-family: "Rubik";
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
.header__nav-link:hover, .header__nav-link:focus, .header__nav-link:active {
  opacity: 0.75;
}
.header__nav-links a:last-of-type {
  display: inline-block;
  padding: 15px 20px;
  background-color: #EE4D47;
  border-radius: 5px;
}
.header__nav-links a:last-of-type:hover, .header__nav-links a:last-of-type:focus, .header__nav-links a:last-of-type:active {
  background-color: #e22922;
  opacity: 1;
}
.header__nav-img:hover, .header__nav-img:focus, .header__nav-img:active {
  opacity: 0.75;
}
.header__about {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
}
.header__about h1 {
  width: 740px;
  font-size: 100px;
  color: white;
}
.header__about a {
  color: white;
  font-family: "Rubik";
  font-weight: 600;
  display: inline-block;
  padding: 15px 35px;
  background-color: #EE4D47;
  border-radius: 5px;
}
.header__about a:hover, .header__about a:focus, .header__about a:active {
  background-color: #e22922;
  opacity: 1;
}
.header__circle {
  background-image: url(../img/header-circle.png);
  background-size: cover;
  margin-left: 49%;
  margin-top: -23%;
  width: 578px;
  height: 578px;
  z-index: -3;
}
.header__people {
  background-image: url(../img/header-ppl.png);
  background-size: cover;
  width: 365px;
  height: 506px;
  margin-left: 61%;
  margin-top: -30%;
}
.header__truck {
  background-image: url(../img/header-truck.png);
  background-size: cover;
  width: 599px;
  height: 394px;
  margin-top: -21%;
}

.about {
  width: 80%;
  margin: 0 auto;
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about__text h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #EE4D47;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}
.about__text p {
  width: 470px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #402B2B;
  line-height: 40px;
  margin-bottom: 70px;
}
.about__img-question {
  background-image: url(../img/about-question.png);
  background-size: cover;
  width: 570px;
  height: 160px;
}
.about__img-main {
  background-image: url(../img/about-main.png);
  background-size: cover;
  width: 575px;
  height: 480px;
}

.apply {
  width: 80%;
  margin: 0 auto;
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.apply__img {
  background-image: url(../img/apply-img.png);
  background-size: cover;
  width: 720px;
  height: 578px;
  margin-left: -10%;
  margin-top: -8%;
}
.apply__text h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #EE4D47;
  letter-spacing: 0.1em;
  margin-bottom: 40px;
}
.apply__text p {
  width: 455px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #402B2B;
  line-height: 40px;
  margin-bottom: 70px;
}

.faq {
  position: relative;
  margin-top: 120px;
}
.faq__bg {
  background-image: url(../img/faq-bg.png);
  background-size: cover;
  width: 75%;
  height: 1500px;
  z-index: -1;
  position: absolute;
  right: 0;
}
.faq__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 101px;
  margin-left: 240px;
}
.faq__flex-text h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #EE4D47;
  letter-spacing: 0.1em;
  margin-bottom: 44px;
}
.faq__flex-text p {
  width: 550px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 140%;
  color: #402B2B;
}
.faq__flex-img {
  background-image: url(../img/faq-img.png);
  background-size: cover;
  width: 708px;
  height: 497px;
}
.faq__questions {
  margin-top: 90px;
}

.faq__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1120px;
  margin: 0 auto;
  margin-top: 90px;
}

.accordion {
  background-color: white;
  color: #402B2B;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  padding: 18px;
  width: 550px;
  height: 100px;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 10px;
  border-radius: 10px;
}
.accordion:after {
  content: '';
  background-image: url(../img/faq-plus.png);
  width: 20px;
  height: 20px;
  float: right;
  vertical-align: middle;
  margin-left: 30px;
}

.active, .accordion:hover {
  background-color: white;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
}

.active:after {
  content: "";
  background-image: url(../img/faq-minus.png);
}

.panel {
  width: 550px;
  height: 140px;
  padding: 0 18px;
  margin-right: 10px;
  margin-top: -13px;
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  background-color: #FFF7F5;
  display: none;
  overflow: hidden;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  max-height: 0;
}

.reviews {
  width: 80%;
  margin-top: 470px;
  margin-left: 240px;
}
.reviews h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #EE4D47;
  letter-spacing: 0.1em;
  margin-bottom: 44px;
}
.reviews__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-top: 44px;
  width: 1172px;
}
.reviews__flex h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 140%;
  color: #402B2B;
  width: 300px;
}
.reviews__block {
  width: 420px;
  height: 360px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
  margin-bottom: 370px;
}
.reviews__block-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #402B2B;
  margin: 60px 52px 60px 48px;
}
.reviews__block-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0;
  margin-left: 11%;
  margin-top: 3%;
}
.reviews__block_img-top {
  margin-top: -4%;
}
.reviews__block-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #402B2B;
  margin-top: -11%;
  margin-left: 33%;
}

.footer__bg {
  background: #0F264C;
  background-image: url(../img/footer-bg.png);
  background-size: cover;
  border-radius: 0 22% 0 0;
  width: 90%;
  height: 660px;
  z-index: -1;
}
.footer__car {
  background-image: url(../img/footer-car.png);
  background-size: cover;
  width: 490px;
  height: 268px;
  position: absolute;
  margin-top: -61%;
}
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1025px;
  margin: 0 auto;
  margin-top: -49%;
}
.footer__flex-text {
  width: 330px;
  color: white;
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 17%;
}
.footer__flex-text:before {
  content: url(../img/footer-text-before.png);
  width: 10px;
  height: 160px;
  float: left;
  padding-right: 40px;
  margin-top: -5%;
}
.footer__form {
  width: 550px;
  height: 440px;
  background-color: white;
  border-radius: 10px;
}
.footer__form-p {
  text-align: left;
  padding-top: 52px;
  padding-left: 75px;
}
.footer__form-p input::-webkit-input-placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
  color: #402B2B;
  opacity: 0.5;
}
.footer__form-p input::-moz-placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
  color: #402B2B;
  opacity: 0.5;
}
.footer__form-p input:-ms-input-placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
  color: #402B2B;
  opacity: 0.5;
}
.footer__form-p input::-ms-input-placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
  color: #402B2B;
  opacity: 0.5;
}
.footer__form-p input::placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
  color: #402B2B;
  opacity: 0.5;
}
.footer__form-p p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
  color: #402B2B;
}
.footer__form-field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  height: 60px;
  border: none;
  outline: 2px solid rgba(238, 77, 71, 0.5);
}
.footer__form-field:hover, .footer__form-field:active, .footer__form-field:focus {
  outline: 2px solid #EE4D47;
  -webkit-box-shadow: 0 20px 40px rgba(238, 77, 71, 0.2);
  box-shadow: 0 20px 40px rgba(238, 77, 71, 0.2);
}
.footer__form-p input[type=text] {
  padding-left: 40px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 40px;
  color: #402B2B;
}
.footer__form-button {
  margin-top: 30px;
  color: white;
  font-family: "Rubik";
  font-weight: 600;
  display: inline-block;
  padding: 15px 35px;
  background-color: #EE4D47;
  border: none;
  border-radius: 5px;
}
.footer__form-button:hover, .footer__form-button:focus, .footer__form-button:active {
  background-color: #e22922;
  opacity: 1;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
}
.footer__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
  margin-right: 50px;
}
.footer__nav-link {
  font-family: "Rubik";
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
.footer__nav-link:hover, .footer__nav-link:focus, .footer__nav-link:active {
  opacity: 0.75;
}
.footer__nav-img:hover, .footer__nav-img:focus, .footer__nav-img:active {
  opacity: 0.75;
}
.footer__social {
  height: 92px;
  width: 80%;
  margin: 0 auto;
}
.footer__social p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #402B2B;
}
.footer__social-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10%;
}
.footer__social_flex-icons {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__social_flex-icon {
  width: 36px;
  height: 36px;
}
.footer__social_flex-icon:hover, .footer__social_flex-icon:focus, .footer__social_flex-icon:active {
  opacity: 0.75;
}
